html,

body {
  height: 100%;
}

header{
  height: 70px;
  border-bottom: 1px solid #222222;
  // background: blue;
  .homeBox{
    // background: red;
    float: left;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    height: 50px;
    img {
      height: 100%;
    }
    .homeFont{
      padding-left: 20px;
      height: 75%;
    }
    .homeLogo{
      padding-left: 15px;
    }
  } // end homeBox
  .statusBox{
    float: right;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    .statusBoxProfile{
      height: 46px;
      width: auto;
      border-radius: 25px;
    }
    .statusBoxActivity{
      height: 45px;
      width: auto;
      margin-right: 10px;
    }
    .statusBoxAddNode{
      height: 45px;
      width: auto;
      margin-right: 10px;
    }
  }
} // end header

