html,

body {
  height: 100%;
}

// @font-face {
//   font-family: 'HelveticaNeueLTStd-Bd';
//   src: url('../assets/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Bd.otf');
// }

// * {
//   -moz-box-sizing: border-box;
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
//   margin:0;
//   padding:0;
//   -webkit-font-something: antialiased;
// }

.row {
  float:left;
  clear:both;
  width:100%;
  padding:0;
}

.columns {
  float: left;
  margin: 0;
  text-align: center;
  list-style-type: none;
}

.one { width: 6.25%; }
.two { width: 12.5%; }
.three { width: 18.75%; }
.four { width: 25%; }
.five { width: 31.25%; }
.six { width: 37.5%; }
.seven { width: 43.75%; }
.eight { width: 50%; }
.nine { width: 56.25%; }
.ten { width: 62.5%; }
.eleven { width: 68.75%; }
.twelve { width: 75%; }
.thirteen { width: 81.25%; }
.fourteen { width: 87.5%; }
.fifteen { width: 93.75%; }
.sixteen { width: 100%; }

header{
  height: 70px;
  border-bottom: 1px solid rgba(1, 0, 0, .05);
  // background: blue;
  .homeBox{
    // background: red;
    float: left;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    height: 50px;
    img {
      height: 100%;
    }
    .homeFont{
      padding-left: 20px;
      height: 75%;
    }
    .homeLogo{
      padding-left: 15px;
    }
  } // end homeBox
  .statusBox{
    float: right;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    .statusBoxProfile{
      height: 47px;
      width: auto;
      border-radius: 25px;
    }
    .statusBoxActivity{
      height: 45px;
      width: auto;
      margin-right: 10px;
    }
    .statusBoxAddNode{
      height: 45px;
      width: auto;
      margin-right: 10px;
    }
  } // end statusBox
} // end header

.mainBody{
  margin-top: 30px;
  .queryForm{
    .queryBox{
      font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
      padding-left: 20px;
      border-radius: 0px;
      height: 60px;
      width: 70%;
    }
    .querySubmit{
      // background: #FCC135;
      font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
      margin-left: 3.5px;
      margin-top: -10px;
      height: 60px;
      width: 20%;
    }
  }

} // end MainBody

//Floating items left wiull need to be removed when we get a real sccofolding in place (like bootstrap). For nwo this will do.
.recentClustrSearches{
  border-top: 1px solid rgba(1, 0, 0, .05);
  margin: 0;
  margin-top: 50px;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  overflow: hidden;//overflow and margin left 20% is a hack.See comment above
  .recentSearchesTitle{
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
  }
  .noMarginContainer{
      margin-left: 20%;//overflow and margin left 20% is a hack. See comment above
  }

  .clustrSearches{
    margin: 0;
    margin-left: 10px;
    .recentClustrSearch{
      border: 1px solid rgba(1, 0, 0, .05); //Duplicated CSS remove this and unify l8tr
      text-align: left;
      margin-top: 10px;
      margin-bottom: 10px;
      height: 80px;
    }
    .clustrTextBox{
      list-style-type: none;
      text-overflow: ellipsis;
      width: 80%;
      .clustrSearchText{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-top: 5px;
        padding-left: 10px;
        font-size: 16px;
      }
      .linkToClustrArticle{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-top: 5px;
        padding: 0px;
        margin-left: 50px;
      }
    }
    .clustrArticleThumbnail{
      float: left;
      height: 70px;
      width: auto;
      margin-top: 5px;
      margin-left: 5px;
    }
    .clustrSearchUserBox{
       float:left;
       border: 1px solid rgba(1, 0, 0, .05); //Duplicated CSS remove this and unify l8tr
       border-left: 0px solid;
       margin-top: 10px;
       margin-bottom: 10px;
       height: 80px;
      .clustrSearchUser{
        list-style-type: none;
        padding-top: 15px;
        padding-right: 15px;
        .clustrSearchUserImg{
          border-radius: 25px;
          height: 30px;
          width: 30px;
          text-align: center;
        }
        .clustrSearchUsername{
          text-align: center;
        }
      }
    }
  }
} // end .recentClustrSearches

.searchResults{
  margin: 0;
  margin-top: 20px;
  .resultsFor {
    font-size: 18px;
    text-align: center;
  }
  .resultsText{
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
  }
}