html,

body {
  height: 100%;
}

// @font-face {
//   font-family: 'HelveticaNeueLTStd-Bd';
//   src: url('../assets/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Bd.otf');
// }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin:0;
  padding:0;
  -webkit-font-something: antialiased;
}

.row {
  float:left;
  clear:both;
  width:100%;
  padding:0;
}

.columns {
  float: left;
  margin: 0;
  text-align: center;
}

.one { width: 6.25%; }
.two { width: 12.5%; }
.three { width: 18.75%; }
.four { width: 25%; }
.five { width: 31.25%; }
.six { width: 37.5%; }
.seven { width: 43.75%; }
.eight { width: 50%; }
.nine { width: 56.25%; }
.ten { width: 62.5%; }
.eleven { width: 68.75%; }
.twelve { width: 75%; }
.thirteen { width: 81.25%; }
.fourteen { width: 87.5%; }
.fifteen { width: 93.75%; }
.sixteen { width: 100%; }

header{
  height: 70px;
  border-bottom: 1px solid rgba(1, 0, 0, .05);
  // background: blue;
  .homeBox{
    // background: red;
    float: left;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    height: 50px;
    img {
      height: 100%;
    }
    .homeFont{
      padding-left: 20px;
      height: 75%;
    }
    .homeLogo{
      padding-left: 15px;
    }
  } // end homeBox
  .statusBox{
    float: right;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    .statusBoxProfile{
      height: 47px;
      width: auto;
      border-radius: 25px;
    }
    .statusBoxActivity{
      height: 45px;
      width: auto;
      margin-right: 10px;
    }
    .statusBoxAddNode{
      height: 50px;
      width: auto;
      margin-right: 10px;
    }
  } // end statusBox
} // end header

.mainBody{
  margin-top: 30px;
  .queryForm{
    .queryBox{
      height: 60px;
      width: 75%;
    }
    .querySubmit{
      // margin-left: 5px;
      margin-top: -10px;
      height: 60px;
      width: 25%;
    }
  }

} // end MainBody
